{% extends "base.html" %}

{% block content %}

<div class="hero">

    <div class="container text-center">

        <h1 class="display-3 fw-bold animate__animated animate__fadeInDown">
            Digital Asset Protection System
        </h1>

        <p class="lead mt-3 animate__animated animate__fadeInUp">
            AI-powered platform to detect unauthorized sports media usage
        </p>

        <div class="mt-4">

            <a href="/upload" class="btn btn-primary btn-lg me-3">
                Upload Media
            </a>

            <a href="/dashboard" class="btn btn-outline-light btn-lg">
                Dashboard
            </a>

        </div>

    </div>

</div>

{% endblock %}